.btn {
    padding: 10px 25px;
    box-sizing: border-box;
    border: 2px solid #103A84;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    background: #fff;
    transition: 0.3s background;
}

.main {
    min-width: 60%;
    max-width: 1200px;
    margin-top: 50px;
}

.main-nav {
    position: relative;
    min-width: 50%;
    margin: 0 auto;
}

.search{
    margin-bottom: 20px;
    width: calc(100% - 200px);
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    border: 1px solid #103A84;
    border-radius: 30px;
    background: #fff;
    outline: none;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    padding: 19px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color: transparent;
    background: #103A84 url('../../img/admin_menu/search.svg') no-repeat 40% center;
    cursor: pointer;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* tokens */

.btn-token, .btn-filter {
    background: #103A84;
    color: #fff;
}

.btn-token:hover, .btn-filter:hover {
    background-color: #224581;
}

.btn-token:active, .btn-filter:active {
    background-color: #142b53;
}

.create-tokens {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    min-height: 300px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
}

.token-span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.token-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.token-input {
    display: block;
    width: 40%;
    margin: 50px auto;
    padding: 5px 15px;
    border: 2px solid #103A84;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

/* фильтр */

.filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-name{
    margin: 0;
    width: 50%;
    background: #103A84;
    padding: 10px 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.list-names {
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style: none;
}

.list{
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.list-p {
    margin: 0;
    padding: 9px 8px;
    border: 1px solid #103A84;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    min-height: 36px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #121212;
    background: #fff url('../../img/global/arrow-down.svg') no-repeat 95% center;
    cursor: pointer;

}

.block {
    display: none;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #F5F5F5;
    pointer-events: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #103A84;
}

.list-li {
    padding: 9px 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #121212;
    cursor: pointer;
}

.list-li:hover {
    background: #ccc;
}

.input-filter {
    height: 0px;
    position: absolute;
    opacity: 0;
}

.filter-checkbox {
    margin-left: 5px;
}

.label-checkbox {
    cursor: pointer;
}

/* Таблица */

.table {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

.table td{
    border-bottom: 4px solid #E8F1FF;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 21px;
}

.table-names > td {
    font-weight: 700;
}

.func {
    text-align: right;
}

.table-btn {
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.new-user {
    background: url('../../img/admin_menu/plus.svg') no-repeat center center;
    border-radius: 50%;
}

.change {
    background: url('../../img/admin_menu/pencil.svg') no-repeat center center;
    margin-right: 25px;
}

.delete {
    background: url('../../img/admin_menu/delete.svg') no-repeat center center;
}

.table-hidden {
    display: none;
}

/* Переключение страницы */

.pages {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pages-list {
    display: flex;
}

.pages-item:not(:last-child) {
    margin-right: 15px;
}

.pages-btn > svg {
    fill: inherit;
}

.pages-btn {
    transition: 0.3s color linear, 0.3s fill linear;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #000;
}

.pages-btn:hover {
    color: #103A84;
    fill: #103A84;
}

/* Поле для добавления нового юзера */

.new-user-block {
    display: none;
    position: absolute;
    min-width: 600px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 45px;
    background-color: #fff;
    border-radius: 5px;
}

.back-form {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #00000072;

}

.new-user-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-user-main > div {
    margin: 3% 0;
}

.lists{
    width: 50%;
}

.new-user-role {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.new-user-role div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-name {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.input-role{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #103A84;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    cursor: pointer;
}

.input-role {
    display: flex;
}

.input-role:checked {
    border: 6px solid #103A84;

}

.inputs {
    display: flex;
    flex-direction: column;
}

.new-user-p, .delete-p, .token-p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
}

.input {
    padding: 10px 15px;
    margin-top: 10px;
    border: 2px solid #103A84;
    border-radius: 5px;
    font-size: 14px;
}

.error {
    border-color: #F05454;
}

.new-user-btns {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.exit {
    color: #103A84;
}

.exit:hover {
    background-color: #F5F5F5;
}

.exit:active {
    background-color: #103A84;
    color: #fff;
}

.create, .delete-btn, .btn-token-create {
    background-color: #103A84;
    color: #fff;
}

.create:hover, .delete-btn:hover, .btn-token-create:hover {
    background: #142b53;
}

.create:active, .delete-btn:active, .btn-token-create:active {
    background-color: #F5F5F5;
    color: #103A84;
}

.new-user-group {
    padding-top: 65px;
    display: flex;
}

.n-hidden {
    color: #121212;
    background-color: #fff;
    pointer-events: auto;
}

.hidden {
    color: transparent;
    background: #F5F5F5;
    pointer-events: none;
}

.form-id, .form-group, .input-password {
    display: none;
}

/* delete_page */

.delete_page {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    min-height: 300px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 5px;
}

.delete-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-id {
    height: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.div-error {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hi {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.advice-p {
    font-size: 20px;
    font-weight: 400;
}

.div-error a {
    color: #536ddd;
    font-size: 18px;
    font-weight: 400;
}

.deactive-user {
    background: #ff11003b;
}