html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', Verdana, sans-serif;
    min-width: 100%;
    min-height: 100%;
    background-color: #E8F1FF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 75px;
    background: #1f3f76;
}

.user {
    display: flex;
    cursor: pointer;
}

.logo {
    width: 50px;
}

.username {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #168cd1 url('img/avatar.png') no-repeat center center;
    background-size: 75%;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.nav {
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.search {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    border: 1px solid #1f3f76;
    border-radius: 30px;
    background: #fff;
    outline: none;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    padding: 19px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background: #1f3f76 url('img/search.svg') no-repeat 40% center;
    cursor: pointer;

}

/* FSL settings */
.FSL {
    background-color: aquamarine;
    /* Test color */
    display:grid;
    /* grid-template-columns: repeat(2,50%); */
    grid-template-areas: 
    "m m m m"
    "o o o o"
    "o o o o"
    "o o o o"
    "o o o o;"
}

.Fmain{
    grid-area: m;
    display:flex;
    width: 100%;
    height: 10em;
    background: #051A3F;
    mix-blend-mode: darken;
    border: 1px solid #000000;
    border-radius: 9px;
}

.Fother {
    grid-area: o;
    grid-auto-rows: auto;
    /* display: flex; */
    width: 100%;
    height: 10em;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 9px;
}