<!-- Временный файл. Нужен для проверки работы -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор объявлений</title>
</head>
<body>
<form method="post" action="editannouncement/{{ announcement.id }}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Удалить файлы:</p>
    {% for file in announcement.files.all %}
    <div class="file-item">
        <a href="{{ file.file.url }}">{{ file.file }}</a>
        <input type="checkbox" name="file_id_to_delete[]" value="{{ file.id }}">
    </div>
    {% endfor %}
    <input type="submit" value="Изменить" />
</form>
</body>
</html>