.plug{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
}

.main-svg {
    width: 300px;
}

.main-title {
    margin: 10px 0;
}

.main-subtitle {
    font-weight: 300;
}

.main {
    display: flex;
    flex-direction: column;
}

#cont{
    width: 80vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20em;
}

.wbtn {
    margin: 1em;
    display: flex;
    max-height: 10em;
    padding: 1em;
    background-color: #fff;
    border: 0;
    border-radius: 3em;
}  

.wbtn:hover {
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.55);
}

.wbtn:active {
    background-color: #DBE1FF;
}