.plug{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
}

.main-svg {
    width: 300px;
}

.main-title {
    margin: 10px 0;
}

.main-subtitle {
    font-weight: 300;
}

.main {
    display: flex;
    flex-direction: column;
}

.side { /*<h1> Направление </h1>*/
    align-self: center;
}

#cont{ /*контейнер для кнопок*/
    width: 80vw;
    min-height: 45vh;
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    justify-content: space-evenly;
}

.wbtn { /*кнопки*/
    margin: 1em;
    display: flex;
    justify-content:space-between;
    max-height: 10em;
    padding: 1em;
    background-color: #fff;
    border: 0;
    border-radius: 3em;
    flex: 0 1 20em;
}  

.wbtn:hover { /*кнопки при наведении*/
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.55);
    background-color: gray;
    color: #fff;
}

.wbtn:active { /*кнопки при активации*/
    background-color: #DBE1FF;
}

div.sometext {
    max-width: 80%;
    margin: 1em auto;
}

div.sometext p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 .3em rgba(0, 0, 255, 0.3);
}