{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/theme_list/theme_list.css' %}">
<title>Список тем</title>
{% endblock head %}

{% block content %}

<div class="filters">
    <form class="container" method="POST" action="https://jsonplaceholder.typicode.com/posts">
        <div class="left">
            <div class="search">
                <input class="search-input" type="text" placeholder="Поиск...">
                <button class="search-button"></button>
            </div>
            <div class="checkboxes">
                <div>
                    <input type="checkbox" id="open" class="checkbox" name="open">
                    <label class="checkbox-name" for="open">Свободно</label>
                </div>
                <div>
                    <input type="checkbox" id="close" class="checkbox" name="close">
                    <label class="checkbox-name" for="close">Используется</label>
                </div>
                <div>
                    <input type="checkbox" id="past_year" class="checkbox" name="past_year">
                    <label class="checkbox-name" for="past_year">Прошлых лет</label>
                </div>
            </div>
            <div class="lists">
                <div class="div-list">
                    <div class="list-name">Учитель</div>
                    <div class="list-names">
                        <div class="list-p" name="teacher">Не указано</div>
                        <ul class="list list">
                            <li class="list-li">Не указано</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                        </ul>
                    </div>
                </div>

                <div class="div-list">
                    <div class="list-name">Предмет</div>
                    <div class="list-names">
                        <div class="list-p" name="subject">Не указано</div>
                        <ul class="list">
                            <li class="list-li">Не указано</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button class="btn new_theme"><a href="{% url 'create_auto' %}">Новая тема</a></button>
            <button class="btn filter_btn" type="submit">Применить</button>
        </div>
    </form>
</div>

<div class="themes">
  {% for theme in themes %}
    <div class="{{ theme.Class_of_subject }}">
        <span class="theme-subject">{{ theme.Subject }}</span>
        <div class="descr">
            <h2 class="theme-name theme-name-close">{{ theme.Name }}</h2>
            <p class="theme-descr theme-descr-close">
                {{ theme.Descript }}
            </p>
            <button class="theme-btn">Подробнее</button>
            <div class="info">
                <a class="info-link" href="#" title="Автор темы">{{ theme.Author }}</a>
                <span class="{{ theme.Class_of_tag }}">{{ theme.Status }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/global/list.js' %}"></script>
<script src="{% static 'js/theme_list/theme_list.js' %}"></script>

{% endblock content %}
