{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/theme_list/theme_list.css' %}">
<title>Список тем</title>
{% endblock head %}

{% block content %}

<div class="filters">
    <form class="container" method="POST" action="https://jsonplaceholder.typicode.com/posts">
        <div class="left">
            <div class="search">
                <input class="search-input" type="text" placeholder="Поиск...">
                <button class="search-button"></button>
            </div>
            <div class="checkboxes">
                <div>
                    <input type="checkbox" id="open" class="checkbox" name="open">
                    <label class="checkbox-name" for="open">Свободно</label>
                </div>
                <div>
                    <input type="checkbox" id="close" class="checkbox" name="close">
                    <label class="checkbox-name" for="close">Используется</label>
                </div>
                <div>
                    <input type="checkbox" id="past_year" class="checkbox" name="past_year">
                    <label class="checkbox-name" for="past_year">Прошлых лет</label>
                </div>
            </div>
            <div class="lists">
                <div class="div-list">
                    <div class="list-name">Учитель</div>
                    <div class="list-names">
                        <div class="list-p" name="teacher">Не указано</div>
                        <ul class="list list">
                            <li class="list-li">Не указано</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                            <li class="list-li">учитель</li>
                        </ul>
                    </div>
                </div>

                <div class="div-list">
                    <div class="list-name">Предмет</div>
                    <div class="list-names">
                        <div class="list-p" name="subject">Не указано</div>
                        <ul class="list">
                            <li class="list-li">Не указано</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                            <li class="list-li">Предмет</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button class="btn new_theme">Новая тема</button>
            <button class="btn filter_btn" type="submit">Применить</button>
        </div>
    </form>
</div>

<div class="themes">
    <div class="theme-block theme-block-close sub1">
        <span class="theme-subject">Английский язык</span>
        <div class="descr">
            <h2 class="theme-name theme-name-close">Название какой-то темы длинное название темы, ПРЯМ ОЧЕНЬ, Я ТАК ПОнимаю ещё больше уже не поместится</h2>
            <p class="theme-descr theme-descr-close">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos aperiam veniam
                aliquid eligendi quaerat sunt corrupti alias beatae rerum qui dolorem, quidem commodi aliquam, in
                maiores ipsa, suscipit excepturi? Est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti alias beatae rerum qui dolorem, quidem
                commodi aliquam, in maiores ipsa, suscipit excepturi? Est!Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti alias beatae rerum
                qui dolorem, quidem commodi aliquam, in maiores ipsa, suscipit excepturi? Est! Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti
                alias beatae rerum qui dolorem, quidem commodi aliquam, in maiores ipsa, suscipit excepturi? Est!
            </p>
            <button class="theme-btn">Подробнее</button>
            <div class="info">
                <a class="info-link" href="#" title="Автор темы">Быстрова А. В.</a>
                <span class="teg teg-open" title="Данная тема ещё не занята">Свободно</span>
            </div>
            <button class="theme-btn-take">Взяться за проект</button>
        </div>
    </div>

    <div class="theme-block theme-block-close sub2">
        <span class="theme-subject">Алгебра</span>
        <div class="descr">
            <h2 class="theme-name theme-name-close">Название какой-то темы длинное название темы, ПРЯМ ОЧЕНЬ, Я ТАК ПОнимаю ещё больше уже не поместится</h2>
            <p class="theme-descr theme-descr-close">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos aperiam veniam
                aliquid eligendi quaerat sunt corrupti alias beatae rerum qui dolorem, quidem commodi aliquam, in
                maiores ipsa, suscipit excepturi? Est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti alias beatae rerum qui dolorem, quidem
                commodi aliquam, in maiores ipsa, suscipit excepturi? Est!Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti alias beatae rerum
                qui dolorem, quidem commodi aliquam, in maiores ipsa, suscipit excepturi? Est! Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Dignissimos aperiam veniam aliquid eligendi quaerat sunt corrupti
                alias beatae rerum qui dolorem, quidem commodi aliquam, in maiores ipsa, suscipit excepturi? Est!
            </p>
            <button class="theme-btn">Подробнее</button>
            <div class="info">
                <a class="info-link" href="#" title="Автор темы">Быстрова А. В.</a>
                <span class="teg teg-close" title="Данная тема уже кем-то используется">Используется</span>
            </div>
        </div>
    </div>

    <div class="theme-block theme-block-close sub2">
        <span class="theme-subject">Subject</span>
        <div class="descr">
            <h2 class="theme-name theme-name-close">Title</h2>
            <p class="theme-descr theme-descr-close">
                Describe
            </p>
            <button class="theme-btn">Подробнее</button>
            <div class="info">
                <a class="info-link" href="#" title="Автор темы">Author</a>
                <span class="teg teg-close" title="Данная тема уже кем-то используется">teg</span>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/global/list.js' %}"></script>
<script src="{% static 'js/theme_list/theme_list.js' %}"></script>

{% endblock content %}