{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/admin_menu/admin.css' %}">
<title>Администрирование</title>
{% endblock head %}
{% block content %}

<div class="main-nav">
    <div class="search">
        <input class="search-input" type="text" placeholder="Поиск...">
        <button class="search-button"></button>
    </div>
    <div class="filter">
        <div class="div-list">
            <p class="list-name">Группа:</p>
            <div class="list-names">
                <p class="list-p">Не указано</p>
                <ul class="list">
                    <li class="list-li">Не указано</li>
                    <li class="list-li">1</li>
                    <li class="list-li">2</li>
                    <li class="list-li">3</li>
                    <li class="list-li">4</li>
                    <li class="list-li">5</li>
                    <li class="list-li">6</li>
                    <li class="list-li">7</li>
                    <li class="list-li">10</li>
                    <li class="list-li">11</li>
                    <li class="list-li">12</li>
                    <li class="list-li">13</li>
                    <li class="list-li">14</li>
                    <li class="list-li">15</li>
                    <li class="list-li">16</li>
                    <li class="list-li">17</li>
                    <li class="list-li">20</li>
                    <li class="list-li">21</li>
                    <li class="list-li">22</li>
                    <li class="list-li">23</li>
                    <li class="list-li">24</li>
                    <li class="list-li">25</li>
                    <li class="list-li">26</li>
                    <li class="list-li">27</li>
                </ul>
            </div>
        </div>
        <div class="div-list">
            <p class="list-name">Роль:</p>
            <div class="list-names">
                <p class="list-p">Не указано</p>
                <ul class="list sub-list">
                    <li class="list-li">Не указано</li>
                    <li class="list-li">Ученик</li>
                    <li class="list-li">Учитель</li>
                    <li class="list-li">Администратор</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tbody>
        <tr class="table-names">
            <td class="table-username">ФИО</td>
            <td class="table-group">Группа</td>
            <td class="table-role">Роль</td>
            <td class="func">
                <button class="new-user table-btn" onclick="n_user()"></button>
            </td>
        </tr>
        {% for user in users %}
        <tr class="table-user" id="{{ user.id }}">
            <td>
                <span class="surname">{{ user.last_name }}</span>
                <span class="name">{{ user.first_name }}</span>
                <span class="patronymic">{{ user.middle_name }}</span>
            </td>
            <td class="table-td-group">
                {% if user.role == "Ученик" %}
                {{ user.group }}
                {% endif %}
            </td>
            <td>{{ user.role }}</td>
            <td class="table-hidden">{{ user.username }}</td>
            <td class="table-hidden">{{ user.password }}</td>
            <td class="func">
                <button class="change table-btn"></button>
                <button class="delete table-btn"></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form class="new-user-block" method="POST" id="form" action="{% url 'admin_menu' %}">
    {% csrf_token %}
    <p class="new-user-p">Создание пользователя</p>
    <div class="new-user-main">
        <div class="inputs">
            {{ user_update_form.last_name }}
            {{ user_update_form.first_name }}
            {{ user_update_form.middle_name }}
            {{ user_update_form.username }}
            {{ user_update_form.password }}
            {{ user_update_form.user_id }}
            {{ user_update_form.group }}
        </div>
        <div class="lists">
            <div class="new-user-role">
                {% for radio in user_update_form.role %}
                <div>
                    <label class="role-name" for="role1">{{ radio.choice_label }}</label>
                    {{ radio.tag }}
                </div>
                {% endfor %}
            </div>

            <div class="new-user-group">
                <p class="list-name">Группа:</p>
                <div class="list-names">
                    <p class="list-p n-hidden" id="group-p">1</p>
                    <ul class="list" id="group-list">
                        <li class="list-li">1</li>
                        <li class="list-li">2</li>
                        <li class="list-li">3</li>
                        <li class="list-li">4</li>
                        <li class="list-li">5</li>
                        <li class="list-li">6</li>
                        <li class="list-li">7</li>
                        <li class="list-li">10</li>
                        <li class="list-li">11</li>
                        <li class="list-li">12</li>
                        <li class="list-li">13</li>
                        <li class="list-li">14</li>
                        <li class="list-li">15</li>
                        <li class="list-li">16</li>
                        <li class="list-li">17</li>
                        <li class="list-li">20</li>
                        <li class="list-li">21</li>
                        <li class="list-li">22</li>
                        <li class="list-li">23</li>
                        <li class="list-li">24</li>
                        <li class="list-li">25</li>
                        <li class="list-li">26</li>
                        <li class="list-li">27</li>
                    </ul>
                    <div class="block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-user-btns">
        <button class="btn exit" onclick="exit()" type="button">Отмена</button>
        <button class="btn create" onclick="create()" type="submit">Создать</button>
    </div>
</form>

<div class="delete_page">
    <p class="delete-p">Вы уверены, что хотите удалить/скрыть пользователя?</p>
    <p>Пользователь: <span class="delete-fio">Кабанин Денис Андреевич</span></p>
    <div class="delete-btns">
        <button class="btn exit" type="submit" onclick="del_exit()">Отмена</button>
        <button class="btn delete-btn" type="submit">Скрыть</button>
        <button class="btn delete-btn" type="submit">Удалить</button>
        <input type="number" class="user-id" style="position: absolute; top: 0;">
    </div>
</div>

<div class="back-form"></div>

<script src="{% static 'js/admin_menu/admin.js' %}"></script>
<script src="{% static 'js/global/list.js' %}"></script>

{% endblock content %}
