<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_menu/admin.css' %}">
    <link rel="icon" href="{% static 'img/admin_menu/icon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/admin_menu/jquery.js' %}"></script>
    <title>Администрирование</title>
</head>

<body>
    <header class="header">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/admin_menu/icon.png' %}"
                alt="Логотип сайта"></a>
        <div class="user">
            <p class="username">Петя Кокорин</p>
            <div class="avatar"></div>
        </div>
    </header>

    <main class="main">

        <nav class="nav">
            <div class="search">
                <input class="search-input" type="text" placeholder="Поиск...">
                <button class="search-button"></button>
            </div>
            <div class="filter">
                <div class="filter-div">
                    <p class="filter-name">Группа:</p>
                    <ul class="list">
                        <li class="item">
                            <p class="group-p">Не указано</p>
                            <ul class="group sub-list">
                                <li class="group-li">Не указано</li>
                                <li class="group-li">1</li>
                                <li class="group-li">2</li>
                                <li class="group-li">3</li>
                                <li class="group-li">4</li>
                                <li class="group-li">5</li>
                                <li class="group-li">6</li>
                                <li class="group-li">7</li>
                                <li class="group-li">10</li>
                                <li class="group-li">11</li>
                                <li class="group-li">12</li>
                                <li class="group-li">13</li>
                                <li class="group-li">14</li>
                                <li class="group-li">15</li>
                                <li class="group-li">16</li>
                                <li class="group-li">17</li>
                                <li class="group-li">20</li>
                                <li class="group-li">21</li>
                                <li class="group-li">22</li>
                                <li class="group-li">23</li>
                                <li class="group-li">24</li>
                                <li class="group-li">25</li>
                                <li class="group-li">26</li>
                                <li class="group-li">27</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="filter-div">
                    <p class="filter-name">Роль:</p>
                    <ul class="list">
                        <li class="item">
                            <p class="group-p">Не указано</p>
                            <ul class="group sub-list">
                                <li class="group-li">Не указано</li>
                                <li class="group-li">Ученик</li>
                                <li class="group-li">Учитель</li>
                                <li class="group-li">Администратор</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <table class="table">
            <tbody>
                <tr class="table-names">
                    <td class="table-username">ФИО</td>
                    <td class="table-group">Группа</td>
                    <td class="table-role">Роль</td>
                    <td class="func">
                        <button class="new-user table-btn" onclick="n_user()"></button>
                    </td>
                </tr>
                {% for user in users %}
                <tr class="table-user">
                    <td>
                        <span class="surname">{{ user.last_name }}</span>
                        <span class="name">{{ user.first_name }}</span>
                        <span class="patronymic">{{ user.middle_name }}</span>
                    </td>
                    <td>{{ user.group }}</td>
                    <td>{{ user.role }}</td>
                    <td class="func">
                        <button class="change table-btn"></button>
                        <button class="delete table-btn"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <form class="new-user-block" method="POST" id="form">
        {% csrf_token %}
        <p class="new-user-p">Создание пользователя</p>
        <div class="new-user-main">
            <div class="inputs">
                <input class="input input-surname" type="text" placeholder="Фамилия">
                <input class="input input-name" type="text" placeholder="Имя">
                <input class="input input-patronymic" type="text" placeholder="Отчество">
                <input class="input input-login" type="text" placeholder="Логин">
                <input class="input input-password" type="text" placeholder="Пароль">
            </div>
            <div class="lists">
                <div class="new-user-role">
                    <div>
                        <label class="role-name" for="role1">Ученик</label>
                        <input class="input-role" type="radio" name="role" id="role1" value="Ученик" checked>
                    </div>
                    <div>
                        <label class="role-name" for="role2">Учитель</label>
                        <input class="input-role" type="radio" name="role" id="role2" value="Учитель">
                    </div>
                    <div>
                        <label class="role-name" for="role3">Админ</label>
                        <input class="input-role" type="radio" name="role" id="role3" value="Администратор">
                    </div>
                </div>

                <div class="new-user-group">
                    <p class="group-name">Группа:</p>
                    <div class="list">
                        <p class="group-p n-hidden" id="group-p">1</p>
                        <ul class="group" id="group-list">
                            <li class="group-li">1</li>
                            <li class="group-li">2</li>
                            <li class="group-li">3</li>
                            <li class="group-li">4</li>
                            <li class="group-li">5</li>
                            <li class="group-li">6</li>
                            <li class="group-li">7</li>
                            <li class="group-li">10</li>
                            <li class="group-li">11</li>
                            <li class="group-li">12</li>
                            <li class="group-li">13</li>
                            <li class="group-li">14</li>
                            <li class="group-li">15</li>
                            <li class="group-li">16</li>
                            <li class="group-li">17</li>
                            <li class="group-li">20</li>
                            <li class="group-li">21</li>
                            <li class="group-li">22</li>
                            <li class="group-li">23</li>
                            <li class="group-li">24</li>
                            <li class="group-li">25</li>
                            <li class="group-li">26</li>
                            <li class="group-li">27</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-user-btns">
            <button class="new-user-btn exit" onclick="exit()" type="button">Отмена</button>
            <button class="new-user-btn create" onclick="create()" type="button">Создать</button>
        </div>
    </form>

    <div class="back-form"></div>

    <script src="{% static 'js/admin_menu/admin.js' %}"></script>
</body>

</html>