{% load static %}
{% block head %}
<title>Архив работ</title>
{% endblock head %}

{% block content %}
{%for project in projects%}
<div>
    <span>{{project.name}}</span>
        {% if user.is_authenticated%}
            <a href="{% url 'projects' %}?id={{project.abstruct.id}}" title="Загрузить файл" class="download-link">Реферат</a>
        {% endif %}
        <a href="{% url 'projects' %}?id={{project.defence.id}}" title="Загрузить файл" class="download-link">Защита</a>
        <a href="{% url 'download_file' %}?file_id={{project.presentation.id}}" title="Загрузить файл" class="download-link">Презентация</a>
        {% if project.defence_video is not null%}
        <a href="{{project.defence_video}}" title="Загрузить файл" class="download-link">Видео с защиты</a>
        {% endif %}
</div>
{%endfor%}
{% endblock content %}