{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{%static 'css/projects/fl.css' %}">
<link rel="stylesheet" href="{%static 'select2/css/select2.min.css' %}">
<script type="text/javascript" src="{%static 'select2/js/select2.min.js' %}"></script>
<title>Подача заявки на проект</title>
{% endblock head %}

{% block content %}
<form class="form-create" action="{% url 'postcreate' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formPZ">
        <h1 class="form h1">Подача заявки</h1>
        <div class="errors">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="error">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="form">
            <h3 class="h3">Название*</h3>
            <input name="name" class="wf" required value='{%if name is not None%}{{name}}{%endif%}' />
        </div>
        <div class="form">
            <h3 class="h3">Описание*</h3>
            <textarea name="description" class="wf ta"
                required>{%if description is not None%}{{description}}{%endif%}</textarea>
        </div>
        <div class="form selects">
            <div class="tea">
                <h3 class="h3 tea">Учитель*</h3>
                <div class="teachers">
                    <div class="teacher teacher-open">
                        <select name="teacher" id="selTea" class="wf select2" multiple>
                            {% for teacher in teachers %}
                            <option value="{{ teacher.id }}" class="opG opt">{{ teacher.full_Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" class="new-teacher wf" placeholder="ФИО учителя" name="new-teacher">
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="teacher-checkbox" id="teacher-checkbox" onclick="checkbox()">
                    <label for="teacher-checkbox" class="checkbox-label">Учитель не из лицея</label>
                </div>
            </div>
            <div class="subj">
                <h3 class="h3 subj">Предмет*</h3>
                <div class="new-theme-subjects">
                    <input type="text" class="new-theme-subjects-input form-input"
                        placeholder="Введите названние предметной области" id="theme_subject">
                    <ul class="search-result-list"></ul>
                    <ul class="new-theme-subjects-list"></ul>
                </div>
                <input type="hidden" class="subject-input" name="subject" required>
            </div>
        </div>
        <div class="form files">
            <input name="files" type="file" multiple="multiple" class="file-input" id="file-input" />
            <label for="file-input" class="file-label">Добавить файлы</label>
            <ul class="file-list"></ul>
        </div>
        <button class="but" type="submit">Подать заявку</button>
    </div>
</form>

<script>
    subjects = {{ subjects_names }}
</script>

<script src="{% static 'js/projects/create_page.js' %}"></script>

{% endblock content %}