{% extends 'base.html' %}


{% block content %}
{% load static %}
<title xmlns="http://www.w3.org/1999/html">{{ name }}</title>
    <form method="POST" action="{% url 'correctProject' %}" id="form_name">
        {% csrf_token %}
        <input type="hidden" name="project" value={{id}}>
        <textarea id="name" name="name" disabled class="form-control">{{name}}</textarea>
    </form>
    <button onclick="return edit(this, 'name')" style="background-color: #FFFFF">
        <img src="{% static 'edit.png' %}" style="width: 20px; height: 20px"/>
    </button>
    <div>{{teacher}}</div>
    <div>{{student}}</div>
    <div>{{status}}</div>
    <form method="POST" action="{% url 'correctProject' %}" id="form_description">
        {% csrf_token %}
        <input type="hidden" name="project" value={{id}}>
        <textarea id="description" name="description" class="form-control" disabled >{{description}}</textarea>
    </form>
    <button onclick="return edit(this, 'description')" style="background-color: #FFFFF">
        <img src="{% static 'edit.png' %}" style="width: 20px; height: 20px"/>
    </button>

    {% for file, name in files_and_names %}
        <div>
            <div>{{name}}</div>
            <form  method="POST" action="{% url 'update_file' %}">
                <input type="hidden" name="project" value={{id}} />
                <input type="hidden" name="file_id" value={{file.id}} />
                <div>
                <label for="input-file">Обновить файл</label>
                <input type="file" id="input-file" name="file" style="display:none; visibility:hidden"/>
                <!-- В стили потом нужно для этой кнопки перенести два свойства display:none и visibility:hidden
                    с теми атрибутами, что сейчас прикручены напрямую -->
            </div>
            </form>
        </div>
    {% endfor %}

    <script>

        function edit(elem, id){
            let f = document.getElementById(id);
            f.disabled = false;
            elem.setAttribute( "onclick", "return save('"+id+"')");
            elem.childNodes[1].src = "{% static 'tick.png' %}";
            elem.style.backgroundColor = "#2DA44E";
            }

        function save(id){
            let f = document.getElementById(id);
            let form = document.getElementById("form_"+id);
            form.submit();
            }
    </script>
{% endblock %}