<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/global/icon.png' %}" type="image/x-icon">
    <script src="{% static 'js/global/jquery.js' %}"></script>
</head>

<body>
    <div class="content">
        {% if form.errors %}
        <p class="error">Неправильный логин или пароль</p>
        {% endif %}

        <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/global/long_logo.svg' %}" alt="Логотип лицея"></a>
        <form action="{% url 'login' %}" method="post" class="form form-login">
            {% csrf_token %}
            <h1 class="title">Добро пожаловать!</h1>
            <div class="form-div form-div-login">
                <div>
                    <span class="input-p">Логин:</span>
                    {{ form.username }}
                </div>
                <div>
                    <span class="input-p">Пароль:</span>
                    {{ form.password }}
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-success">Войти</button>
                <a href="{% url 'token_page' %}" class="register">Регистрация</a>
            </div>
        </form>
    </div>
</body>

</html>