html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', Verdana, sans-serif;
    min-width: 100%;
    min-height: 100%;
    background-color: #E8F1FF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 75px;
    background: #103A84;
}

.user {
    display: flex;
    cursor: pointer;
}

.logo {
    width: 50px;
}

.username {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #168cd1 url('img/avatar.png') no-repeat center center;
    background-size: 75%;
}

.main {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    margin-top: 50px;
}

.nav {
    position: relative;
    display: grid;
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.grid{
    display: grid;
    /* margin-bottom: 20px; */
    padding-top: 20px;
    margin-left: 15%;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(10,10%);
}

.search {
    grid-area: 3/1/4/8;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    border: 1px solid #1f3f76;
    border-radius: 30px;
    background: #fff;
    outline: none;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    padding: 19px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background: #1f3f76 url('img/search.svg') no-repeat 40% center;
    cursor: pointer;

}

.tea{
    grid-area: 7/1/9/4;
    border: 1px solid #1f3f76;
}

.subj{
    grid-area: 7/5/9/8;
    border: 1px solid #1f3f76;

}

.NT{
    grid-area: 3/10/5/11;
    width: 150%;
    margin-left: 50%;
}

.Pr{
    grid-area: 7/10/9/11;
    width: 150%;
    margin-left: 50%;
}

.lst{
    grid-area: 2/8/9/9;
    margin-left: 75%;
    width: 110%;
}