.bold {
    background: url('../../img/announcements/B.svg') no-repeat center center;
    background-size: auto;
}

.italic {
    background: url('../../img/announcements/i.svg') no-repeat center center;
    background-size: auto;
}