<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/global/icon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="jquery.js"></script>
    {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/dec/dec.css' %}">
    <link rel="stylesheet" href="{% static 'css/global/header.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/global/not_authorized.css' %}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>
</head>
<body>

    {% block content %}

    <header class="header">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/global/icon.png' %}" alt="Логотип сайта"></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'announcements' %}">Объявления</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'subjects' %}">Список тем</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'projects' %}">Управление проектом</a>
                </li>
            </ul>
        </nav>
        <a class="user" href="{% url 'profile' %}">
            <p class="username">{{ user.username }}</p>
            <div class="avatar"></div>
        </a>
    </header>

    <main class="main">
        
        <div class="FSL" id="FSL"> <!-- FSL==Facking Scroll List-->
            <!-- Экземпляр для отображения. При подключении бекэнда надо сделать подгрузку div'ов с сервера -->
            <div class="Fmain" id="Fmain">

            </div>
            <!-- F->FSL + other=Fother-->
            <div class="Fother" id="Fother1">
                <div class="flex" id="flex1"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex2"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex3"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex4"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex5"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex6"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex7"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex8"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex9"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex10"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex11"><div class="IB" id="IB"></div></div>
                <div class="flex" id="flex12"><div class="IB" id="IB"></div></div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>