{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dec/red.css' %}">
<title>Редактор Объявления</title>
{% endblock head %}
{% block content %}

<form method="post" action="createannouncement" enctype="multipart/form-data" class="f">
    {% csrf_token %}
    {{ form.date_of_expiring }}
    {{ form.title }}
    {{ form.body }}
    {{ form.is_pinned }}
    {{ form.image_url }}
    {{ form.files }} 
    {{ form.file_id_to_delete }}
    <input type="submit" value="Разместить" />
    <!-- <div></div> -->
</form>

{% endblock content %}
