.main {
    width: 100%;
}

.form-create {
    margin: 0 auto;
    margin-top: 4%;
    width: 80%;
    max-width: 1000px;
}

.formPZ{
    position: relative;
    padding: 20px 30px;
    width: 100%;/*в адаптив*/
    background: #fff;
    border-radius: 30px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.h1 {
    color: #000000;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}

.wf {
    padding: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #00000030;
    font-size: 16px;
    line-height: 20px;
}

.ta {
    resize: none;
    min-height: 100px;
    max-height: 300px;
    height: auto;
    font-size: inherit;
    font-family: inherit;
}

.form:not(:last-child){
    margin-bottom: 30px;
}

.selects {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.h3 {
    margin: 0;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 16px;
    color: #00000095;
    font-style: normal;
}

.teachers {
    position: relative;
    margin-bottom: 5px;
}

.teacher, .new-teacher {
    display: none;
}

.teacher-open {
    display: block;
}

.tea {
    width: 40%;
}

.subj {
    width: 40%;
}

.file-input {
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.file-label {
    display: inline-block;
    cursor: pointer;
    color: #5A88FF;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
}

.file-item {
    margin-top: 10px;
    position: relative;
    padding: 10px;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.file-item:not(:last-child) {
    margin-right: 10px;
}

.file-item-div {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    width: 15px;
    height: 15px;
    background-size: auto;
    background: url('../../img/global/del.svg') no-repeat center center;
    cursor: pointer;
}

.but{
    padding: 13px;
    margin: 0 auto;
    width: 33%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    background: #000;
    transition: 0.1s background linear;
}

.but:active {
    background: #232323;
}