.form-create {
    margin: 0 auto;
    margin-top: 4%;
}

.formPZ{
    /*временные размеры*/
    width: 1000px;/*в адаптив*/
    min-height: 700px;/*в адаптив*/
    /* margin-top: 10%; */
    margin: auto;

    background: linear-gradient(297.37deg, #17428F 6.45%, #4679D3 91.88%);
    border-radius: 14px;/*в адаптив*/

    font-family: 'Roboto';/*шрифты*/
    font-style: normal;

    display: grid;
    grid-template-rows: repeat(5%,30);
    grid-template-areas: 
    "h h h h h"
    "n n n n n"
    "d d d d d"
    "d d d d d"
    "d d d d d"
    "d d d d d"
    "t t z s s"
    "f f f f f"
    "b b b b b"
    "b b b b b";
}

.wf {
    border-radius: 5px;
    background: #FFFFFF;
    min-height: 50%;
    width: 100%;
    border: rgb(0,0,0,0);
}

div.desc div {
    min-height: 80%;
}

.form{
    margin:3%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.h3 {
    color: #fff;
    font-style: normal;
    font-weight: 200;

    margin-bottom: 1%;
    margin-left: 0px;
}

.nng {
    /* background: #FFFFFF; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;*/

    grid-area: n;
}

.desc {
    /* background: #FFFFFF; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;*/

    grid-area: d;
}

.tea {
    margin-right: 0%;
    margin-left: 7.5%;
    /* background: #FFFFFF; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;*/

    grid-area: t;
}

div.tea h3 {
    margin-left: 0;
} 

.subj {
    margin-right: 7.5%;
    margin-left: 0%;
    /* background: #FFFFFF; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;*/
    
    grid-area: s;
}

.files {
    /* background: #FFFFFF; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;*/

    grid-area: f;
}

.zero {/*обычный костыль ввиде пустого класса*/
    background: rgba(0,0,0,0);
    grid-area: z;
}

.but{
    cursor: pointer;
    color: #ffffff;
    font-size: larger;
    background: #000000;
    border-radius: 5px;
    border: 0px;

    width: 30%;
    height: 60%;
    margin: 3% auto;

    grid-area: b;
}

.h1 {
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-bottom: -6%;
    grid-area: h;
}