.new-project-link {
    margin: 10px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #103A8480;
    color: #fff;
    font-size: 20px;
    transition: 0.1s background-color linear;
}

.new-project-link:hover {
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.27);
}

.new-project-link:active {
    background-color: #3e5e96;
}

.new-project-link > svg {
    margin-left: 5px;
}

.title {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.no-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    fill: #103A84;
    color : #103A84;
    font-weight: 700;
    font-size: 18px;
}

.no-projects-svg {
    width: 300px;
}

.main {
    width: 80%;
    max-width: 1202px;
}
 
.flex { /* Контейнер проекта */
    width: 100%;
    margin-top: 5%;
    min-height: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.27);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cap { /* Название*/
    font-size: xx-large;
    text-align: center;
    padding: 2%;
}

.text { /* Описание*/
    align-self: center;
    width: 90%;
    min-height: 40px;
}

.files { /* main-div всех файлов*/
    max-width: 90%;
    margin-left: 5%;
}

.file { /* div файла*/

}

.filename { /* Название файла*/

}
a.btn-projects { /* Кнопка проекта*/
    align-self: center;
    display: flex;
    margin-bottom: 2%;
    height: 50px;
    min-width: 30%;
    border: 0; 
    border-radius: 10px;
    background-color: #DBE1FF;
    /* text-align: center; */
    justify-content: center;
}

.inbtn {

}

a.btn-projects:hover, a.btn-projects.hover {
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.55);
}

a.btn-projects:active, a.btn-projects.active {
    background-color: #798aec;
    box-shadow: 0px 0px 4px 3px rgba(62.69, 62.69, 62.69, 0.55);
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.project {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: calc((100% - 150px) / 4);
    height: 300px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.title {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
    height: 60%;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
}

.send-request {
    background: linear-gradient(270deg, rgba(207,27,42,1) 13%, rgba(255,27,46,1) 99%);
    color: #fff;
}

.on-work {
    background: linear-gradient(270deg, #f7b11a 13%, #ffb51b 99%);
    color: #fff;
}

.done {
    background: linear-gradient(270deg, #16bb48 13%, #19ca4e 99%);
    color: #fff;
}

.anim {
    position: absolute;
    top: 70px;
    left: 50px;
}

.anim-send-request {
    display: flex;
    gap: 10px;
}

.anim-done {
    position: absolute;
    top: 50px;
    left: 70px;
}

.gear {
    position: absolute;
    transition: opacity 0.3s linear;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.gear1 {
    width: 40px;
    height: 40px;
    top: 22px;
    left: 73px;
}

.gear2 {
    width: 48px;
    height: 48px;
    top: 51px;
    left: 80px;

}

.gear3 {
    width: 40px;
    height: 40px;
    top: 48px;
    left: 50px;

}

.dn {
    position: absolute;
    transition: opacity 0.3s linear;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0, 0.27, 1, -0.35);
    animation-iteration-count: infinite;
}

.dn1 {
    animation-name: dn1;
}

.dn2 {
    animation-name: dn2;
}

.dn3 {
    animation-name: dn3;
}

.dn-svg {
    height: 40px;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(136, 28, 37);
    transform: translateY(0px);
    transition: opacity 0.3s linear;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.ball-anim {
    animation-name: ball;
}

.small-gear-anim {
    animation-name: small-gear;
}

.big-gear-anim {
    animation-name: big-gear;
}

@keyframes ball {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-40px);}
    100% {transform: translateY(0px);}
}

@keyframes small-gear {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes big-gear {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

@keyframes dn1 {
    0% {opacity: 1}
    6% {opacity: 0}
    12% {opacity: 1}
    18% {opacity: 0}
    24% {opacity: 1}
    30% {opacity: 0}
    50% {opacity: 1; transform: translate(-45px);}
    100% {transform: translate(0px);}
}

@keyframes dn2 {
    0% {opacity: 1}
    6% {opacity: 0}
    12% {opacity: 1}
    18% {opacity: 0}
    24% {opacity: 1}
    30% {opacity: 0}
    50% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes dn3 {
    0% {opacity: 1}
    6% {opacity: 0}
    12% {opacity: 1}
    18% {opacity: 0}
    24% {opacity: 1}
    30% {opacity: 0}
    50% {opacity: 1; transform: translate(45px);}
    100% {transform: translate(0px);}
}

@media (max-width: 1000px) {
    .main {
        width: 90%;
        align-self: center;
    }
}