.main {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.people {
    padding: 10px 5px;
    padding-right: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-radius: 30px;
    background-color: #ffffff;
}

.people-div {
    display: flex;
    align-items: center;
}

.people-div:first-child {
    margin-bottom: 20px;
}

.people-fio {
    margin: 0;
    font-size: 16px;
}

.people-span {
    font-weight: 300;
    font-size: 14px;
    color: #464646;
}

.people-img {
    margin-right: 10px;
    height: 50px;
    border-radius: 50%;
}

.content{
    position: relative;
    padding: 20px 30px;
    padding-top: 15px;
    width: 80%;
    max-width: 700px;
    background: #fff;
    border-radius: 30px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.status {
    margin-bottom: 20px;
}

.status-span {
    font-size: 16px;
    font-weight: 600;
}

.send-request {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #ffb51b;
}

.name, .descr {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.descr {
    margin-bottom: 20px;
}

.name-form, .descr-form {
    width: calc(100% - 50px);
}

.textarea {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    resize: none;
    color: #000000;
    background: transparent;
    transition: background 0.3s;
}

.name-textarea {
    min-height: 44px;
    max-height: 300px;
    font-size: 24px;
}

.descr-textarea {
    min-height: 100px;
    max-height: 300px;
    font-size: 16px;
}

.edit-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: transparent url('../../img/global/pencil.svg') no-repeat center center;
    background-size: auto;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: #00000030;
}

.file-input {
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.file-label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #5A88FF;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
}

.file-item {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.file-item-div {
    width: 15px;
    height: 15px;
    background-size: auto;
    background: url('../../img/global/del.svg') no-repeat center center;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #00000030;
}

.btns > button {
    padding: 3px 5px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btns > button:hover, .btns-label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btns svg {
    width: 25px;
    height: 25px;
}

.btns-label {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.del-form {
    position: absolute;
}

.form-btn {
    margin-top: 20px;
}

.status-input {
    display: block;
    padding: 10px 30px;
    margin: 0 auto;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background: #103A84;
    color: #fff;
    transition: background 0.3s linear;
}

.status-input:hover {
    background: #0d306d;
}

.status-input:active {
    background: #3e5e96;
}

.old-files{
    position: absolute;
    padding: 20px;
    padding-top: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-width: 600px;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.back-form {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #00000072;
}

.update-file{
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.comment-window{
    position: absolute;
    padding: 20px;
    padding-top: 45px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-width: 600px;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.btn-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.comment-textarea {
    min-height: 100px;
    overflow-y: hidden;
    border: 1px solid #000000;
    font-size: 16px;
    margin-bottom: 20px;
}

.comment-btn {
    padding: 10px 30px;
    display: block;
    margin-left: auto;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s linear;
}

.comment-btn:hover {
    background: #0d306d;
}

.comment-btn:active {
    background: #3e5e96;
}

.old-files-title {
    margin-top: 0;
}

.old-files-item {
    position: relative;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    background: url('../../img/project/download.svg') no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: auto;
    transition: background-color 0.3s linear;
}

.old-files-item:not(:last-child) {
    margin-bottom: 10px;
}

.old-files-item:hover {
    background-color: #f1f1f1;
}

.old-files-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.update-file-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.update-file-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.update-file-btns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.update-file-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s linear;
}

.update-file-btn:hover {
    background: #0d306d;
}

.update-file-btn:active {
    background: #3e5e96;
}