.content {
    width: 50%;
    max-width: 800px;
}

.content-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    overflow-y: hidden;
}

.cb1 {
    display: block;
}

.content-block-open {
    margin-bottom: 40px;
    max-height: 2000px;
    overflow-y: visible;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
}

.content-div {
    width: 100%;
}

.textarea {
    display: block;
    width: 100%;
    padding: 10px;
    min-width: 600px;
    max-height: 74px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    resize: none;
    overflow: hidden;
}

.span {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.span > svg {
    margin-left: 3px;
    width: 14px;
    vertical-align: text-top;
    cursor: pointer;
}

.bottom-div {
    padding-top: 40px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s linear;
}

.bottom-btn:hover {
    background: #0d306d;
}

.bottom-btn:active {
    background: #3e5e96;
}

.bottom-btn > svg {
    margin-left: 5px;
    transform: translateX(15px);
    height: 16px;
    fill: #fff;
}

.next-btn {
    margin-left: auto;
}

.skip-btn {
    display: none;
}

.content-status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    transform: translateX(65px);
}

.content-type {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.type-line {
    width: 60%;
    height: 1px;
    background: rgba(0,0,0,0.3);
}

.type-label {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    background: url("../../img/project/project.svg") no-repeat top center;
    background-size: 40px 40px;
    cursor: pointer;
}

.type-label:last-child {
    background-image: url("../../img/project/noy.svg");
    background-size: 45px 45px;
}

.form-input {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    min-width: 600px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);

}

.search-result-list {
    margin-top: -15px;
    position: absolute;
    z-index: 4;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: 160px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.search-result-item:hover {
    background: #ccc;
}

.new-theme-subjects-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.new-theme-subjects-div {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    width: 15px;
    height: 15px;
    background-size: auto;
    background: url('../../img/global/del.svg') no-repeat center center;
    cursor: pointer;
}

.new-theme-subjects-item {
    position: relative;
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.new-theme-subjects-item:not(:last-child) {
    margin-right: 15px;
}

.content-item > textarea {
    margin-bottom: 25px;
}

.file-input {
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.file-item {
    position: relative;
}

.file-item:not(:last-child) {
    margin-bottom: 15px;
}

.file-label {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 18px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

.docx {
    background: rgba(16, 58, 132, 0.12);
    color: #1f68e9ba;
    border-color: #1f68e9ba;
}

.ppt {
    background-color: rgba(132, 86, 16, .12);
    color: #d5731ee3;
    border-color: #d5731ee3;
}

.txt {
    background-color: rgba(213, 213, 213, 0.12);
    color: #929292;
    border-color: #929292;
}