.main {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main > div:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.people {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-radius: 15px;
    background-color: #ffffff;
}

.people-div {
    display: flex;
    align-items: center;
}

.people-div:first-child {
    margin-bottom: 20px;
}

.status {
    padding-top: 15px;
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #00000030;
}

.status-span {
    font-size: 14px;
    font-weight: 400;
}

.send-request {
    color: #ff1b2e;
}

.on-work {
    color: #ffb51b;
}

.done {
    color: #19ca4e;
}

.people-fio {
    margin: 0;
    font-size: 16px;
}

.people-span {
    font-weight: 300;
    font-size: 14px;
    color: #464646;
}

.people-img {
    margin-right: 10px;
    height: 50px;
    border-radius: 50%;
}

.content{
    position: relative;
    padding: 15px 30px;
    padding-top: 15px;
    min-width: 500px;
    max-width: 40vw;
    background: #fff;
    border-radius: 15px;
    font-style: normal;
    flex: 2 0 20em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.old-files{
    position: fixed;
    padding: 20px;
    padding-top: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-width: 600px;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.back-form {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #00000072;
}

#description {
    overflow-x: hidden;
}

.update-file{
    position: fixed;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.comment-window{
    position: fixed;
    padding: 20px;
    padding-top: 45px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-width: 600px;
    z-index: 3;
    border-radius: 10px;
    background-color: #fff;
}

.btn-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.comment-textarea {
    min-height: 100px;
    overflow-y: hidden;
    border: 1px solid #000000;
    font-size: 16px;
    margin-bottom: 20px;
}

.comment-btn {
    padding: 10px 30px;
    display: block;
    margin-left: auto;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s linear;
}

.comment-btn:hover {
    background: #0d306d;
}

.comment-btn:active {
    background: #3e5e96;
}

.old-files-title {
    margin-top: 0;
}

.old-files-item {
    position: relative;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    background: url('../../img/project/download.svg') no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: auto;
    transition: background-color 0.3s linear;
}

.old-files-item:not(:last-child) {
    margin-bottom: 10px;
}

.old-files-item:hover {
    background-color: #f1f1f1;
}

.old-files-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.update-file-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.update-file-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.update-file-btns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.update-file-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s linear;
}

.update-file-btn:hover {
    background: #0d306d;
}

.update-file-btn:active {
    background: #3e5e96;
}

@media (max-width: 1400px) {
    .content {
        max-width: 62vw;
    }
}