.content {
    width: 50%;
    max-width: 800px;
    margin-right: 350px;
}

.content-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    overflow-y: hidden;
}

.cb1 {
    display: block;
}

.content-block-open {
    margin-bottom: 40px;
    max-height: 2000px;
    overflow-y: visible;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
}

.content-div {
    width: 100%;
}

.textarea {
    display: block;
    width: 100%;
    padding: 10px;
    min-width: 200px;
    max-height: 74px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    resize: none;
    overflow: hidden;
}

.span {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.span > svg {
    margin-left: 3px;
    width: 14px;
    vertical-align: text-top;
    cursor: pointer;
}

.bottom-div {
    padding-top: 40px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    background: #103A84;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s linear;
}

.bottom-btn:hover {
    background: #0d306d;
}

.bottom-btn:active {
    background: #3e5e96;
}

.bottom-btn > svg {
    margin-left: 5px;
    transform: translateX(15px);
    height: 16px;
    fill: #fff;
}

.bottom-div-right {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
}

.finish-btn {
    background: #7a7a7a;
    pointer-events: none;
}

.finish-active {
    pointer-events: auto;
    background: #39a43d;
    font-weight: 700;
}

.finish-active:hover {
    background: #4ab94e;
}

.finish-active:active {
    background: #308b33;
}

.skip-btn {
    display: none;
}

.content-status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    transform: translateX(65px);
}

.content-type {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.level-line {
    width: 60%;
    height: 1px;
    background: rgba(0,0,0,0.3);
}

.level-label {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    background: url("../../img/project/project.svg") no-repeat top center;
    background-size: 40px 40px;
    cursor: pointer;
}

.level-label:last-child {
    background-image: url("../../img/project/noy.svg");
    background-size: 45px 45px;
}

.type-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.form-input {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    min-width: 200px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);

}

.search-result-list {
    margin-top: -15px;
    position: absolute;
    z-index: 4;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: 160px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.search-result-item:hover {
    background: #ccc;
}

.new-theme-subjects-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.new-theme-subjects-div {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    width: 15px;
    height: 15px;
    background-size: auto;
    background: url('../../img/global/del.svg') no-repeat center center;
    cursor: pointer;
}

.new-theme-subjects-item {
    position: relative;
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.new-theme-subjects-item:not(:last-child) {
    margin-right: 15px;
}

.content-item {
    position: relative;
}

.content-item > textarea {
    margin-bottom: 25px;
}

.file-input {
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.file-list {
    margin-bottom: 20px;
}

.file-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-item:not(:last-child) {
    margin-bottom: 15px;
}

.file-label {
    position: relative;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 18px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

.docx {
    background: rgba(16, 58, 132, 0.12);
    color: #1f68e9ba;
    border-color: #1f68e9ba;
}

.ppt {
    background-color: rgba(132, 86, 16, .12);
    color: #d5731ee3;
    border-color: #d5731ee3;
}

.txt {
    background-color: rgba(213, 213, 213, 0.12);
    color: #929292;
    border-color: #929292;
}

.download-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.download-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.file-setting {
    display: flex;
    margin-left: 10px;
}

.file-setting > button {
    padding: 3px 5px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.file-setting > button:hover , .btns-label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.file-setting svg {
    width: 25px;
    height: 25px;
}

.btns-label {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.help {
    margin: 0;
    position: absolute;
    right: 0;
    max-width: 250px;
    transform: translateX(350px);
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5em;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.help:not(:last-child) {
    top: 0;
}

.help:last-child {
    bottom: 0;
}

.other-files-title {
    margin-bottom: 20px;
    padding-left: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #8b8b8b;
}

.line {
    position: relative;
    display: block;
    width: calc(100% - 60px);
    height: 1px;
    background: #8b8b8b;
    border-radius: 10px;
}

.other-file-input {
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.other-file-label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #5A88FF;
}

.other-file-list {
    display: flex;
    flex-wrap: wrap;
}

.other-file-item {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.other-file-item-div {
    width: 15px;
    height: 15px;
    background-size: auto;
    background: url('../../img/global/del.svg') no-repeat center center;
    cursor: pointer;
}

.other-btns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #00000030;
}

.other-btns > button {
    padding: 3px 5px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.other-btns > button:hover, .other-btns-label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.other-btns svg {
    width: 25px;
    height: 25px;
}

.other-btns-label {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.del-form {
    position: absolute;
}